.please-log-in {
  text-align: center;
}

.form-container {
  background: linear-gradient(rgba(255, 255, 0, 0.7), rgba(255, 255, 0, 0.7)), url(https://media.istockphoto.com/photos/bee-or-honeybee-or-honey-bee-isolated-on-the-white-picture-id1144900554?k=20&m=1144900554&s=612x612&w=0&h=r7uNTfG4YB7lWNDCcZx-uWXtepVZiCdTx5JbARm2WgI=);
  margin-top: -80px;
  padding-top: 80px;
  height: 100vh;
}

.bee-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 1rem;

  h1 {
    text-align: center;
  }
}

.MuiTextField-root {
  display: flex;
  width: 100%;
}

.submit-button {
  align-self: center;
  margin: auto;
}

.input-file {
  height: 3rem;
}

@media (max-width: 768px) {
  .submit-button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .submit-button {
    width: 25%;
  }
}
