.bee-details {
  display: flex;
  justify-content: space-between;
}

.bee-image {
  border-radius: 3%;
  object-fit: cover;
}

.bee-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
  }
}

.button-icon {
  margin-right: 0.25rem;
}

.bee-details-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .bee-details {
    padding: 0 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .bee-image {
    width: 100%;
    height: 230px;
  }
}

@media (min-width: 768px) {
  .bee-details {
    padding: 0 4rem;
    flex-direction: row;
  }

  .bee-information {
    width: 30%;
  }

  .bee-image {
    width: 67%;
    height: 450px;
  }
}
