.carousel-container {
  padding-bottom: 2rem;
  z-index: 0;
}

.homepage-title {
  margin-bottom: 1rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.description {
  color: gray;
  font-size: 1.5rem;
}

.social-icons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
