$green-theme: #9fbe3d;

::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  height: 100%;
  width: 375px;
  background-color: white;
  z-index: 5;
  overflow-y: auto;
  box-shadow: 2px 1px 4px $green-theme;

  ul {
    list-style: none;
    padding: 0;
    margin: 4rem 0;

    li {
      margin-left: 2rem;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;

      p {
        padding: 0.8rem 1rem;
        cursor: pointer;
      }

      a,
      p {
        text-decoration: none;
        color: black;
      }

      a {
        p {
          width: 100%;
          padding: 0.8rem 1rem;
        }
      }

      .active p {
        background-color: $green-theme;
        color: white;
      }
    }

    li:hover {
      background-color: $green-theme;

      a,
      p {
        color: white;
      }
    }
  }
}

.hamburger {
  height: 15px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  cursor: pointer;
  left: 24px;
  top: 17px;

  .slice {
    background-color: black;
    height: 5px;
    width: 24px;
    border-radius: 20%;
  }
}

.invisible {
  display: none;
}

.hide {
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.appLogoLi:hover {
  background: none;
}

.appLogo {
  width: auto;
  height: 112px;
  margin-left: -15px;
}
