nav {
  position: fixed;
  height: 100%;
  width: 375px;
  background-color: pink;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 4rem;

    li:hover {
      background-color: aqua;
    }

    li {
      font-size: 34px;
      font-weight: 900;
      padding: 1.5rem 0;

      a, p {
        text-decoration: none;
        color: black;
        margin-left: 3rem;
      }

      p {
        cursor: pointer;
      }
    }
  }
}

.hamburger {
  padding: 10px;
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  cursor: pointer;

  .slice {
    background-color: white;
    height: 5px;
    width: 35px;
    border-radius: 20%;
  }
}