.please-log-in {
  text-align: center;
}

.reservation-form-container {
  background: linear-gradient(rgba(255, 255, 0, 0.7), rgba(255, 255, 0, 0.7)), url(https://media.istockphoto.com/photos/bee-or-honeybee-or-honey-bee-isolated-on-the-white-picture-id1144900554?k=20&m=1144900554&s=612x612&w=0&h=r7uNTfG4YB7lWNDCcZx-uWXtepVZiCdTx5JbARm2WgI=);
  margin-top: -80px;
  padding-top: 80px;
  height: 100vh;
}
