#signupPage {
  border: 1px solid red;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: yellow;
  background: rgba(255, 255, 0, 0.7);
  backdrop-filter: blur(6px);
}

#signupClose {
  position: absolute;
  top: 24px;
  right: 41px;
  font-size: 34px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.signupBtn {
  background: none;
  font-size: 24px;
  border: 2px solid #2f4858;
  padding: 1rem 2rem;
}

// Form
#username {
  font-size: 20px;
  padding: 5px;
}

.loginLink {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#login {
  cursor: pointer;
  font-size: 19px;
}
