@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

$highlight: #9fbe3d;
$gray: #e2e3e5;

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  height: 100vh;
}

main {
  padding-top: 5rem;
}

.social-button {
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  border-radius: 10%;
  background-color: #f7f6f6;
}

.social-button:active {
  background-color: #e4e2e2;
}
