$highlight: #9fbe3d;
$gray: #e2e3e5;

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(255, 255, 0, 0.7), rgba(255, 255, 0, 0.7)), url(../Assets/Background.jpg) no-repeat center center fixed;
  height: 100vh;
}

main {
  padding-top: 5rem;
}
